# yaml-language-server: $schema=https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json

final_space: true
shell_integration: true
enable_cursor_positioning: true
version: 3

blocks:
  - type: prompt
    alignment: left
    newline: true
    segments:
      - type: status
        style: plain
        newline: true
        background: transparent
        options:
          always_enabled: true
          # status_template might be capturing more than just the exit code
          # status_template: "{{ if ne .Code 0 }}{{ .Code }}{{ end }}"
        # Only display when OMP_RENDER_STATUS=1 (a command was actually executed in the current cycle).
        # Skip rendering in VS Code terminal.
        template: >-
          {{ if and (gt .Code 0) (eq (env "OMP_RENDER_STATUS") "1") (ne (env "TERM_PROGRAM") "vscode") }} <b>󱞩</b> <red> {{ .Code }}</> {{"\n"}}{{ end }}

      - type: path
        style: plain
        # foreground: "#8bd5ca"
        foreground: blue
        background: transparent
        template: "{{ .Path }} "
        options:
          style: full

      - type: git
        style: plain
        foreground: "#f9e2af"
        background: transparent
        template: >-
          {{ .HEAD }}{{ if or (.Working.Changed) (.Staging.Changed) }}*{{ end }}<darkGray>{{ if gt .StashCount 0 }}  {{ .StashCount }}{{ end }}</><cyan>{{ if and (gt .Behind 0) (gt .Ahead 0) }} 󰹹 {{ else if gt .Behind 0 }}  {{ else if gt .Ahead 0 }}  {{ end }}</>

        options:
          branch_icon: ""
          commit_icon: "@"
          fetch_status: true

  - type: prompt
    alignment: left
    newline: true
    segments:
      - type: text
        foreground: magenta
        background: transparent
        style: plain
        template: "❯"

  - type: rprompt
    segments:
      - type: node
        style: plain
        # foreground: "#6CA35E"
        foreground: green
        template: "{{ if .PackageManagerIcon }}<darkGray>{{ .PackageManagerIcon }}</> {{ end }}  {{ .Full }} "
        options:
          fetch_package_manager: true

      - type: go
        style: plain
        # foreground: "#7FD5EA"
        foreground: cyan
        template: "  {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }} "

      - type: lua
        style: plain
        foreground: blue
        template: "  {{ if .Error }}{{ .Error }}{{ else }}{{ .Major }}.{{ .Minor }}{{ end }} "
        options:
          preferred_executable: luajit

      - type: python
        style: plain
        foreground: "#FFD343"
        template: " {{ if .Error }}{{ .Error }}{{ else }}{{ if .Venv }}(venv)  {{ .Full }}{{ end }}{{ end }} "

      - type: react
        style: plain
        foreground: cyan
        template: "  {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }} "

      # - type: docker
      #   foreground: "#0B59E7"
      #   template: "  {{ .Context }} "

secondary_prompt:
  foreground: magenta
  background: transparent
  template: "❯❯ "

tooltips:
  - type: aws
    tips:
      - aws
      - terraform
      - tofu
    style: plain
    foreground: "#FFA400"
    template: "  {{.Profile}}{{if .Region}} ({{.Region}}){{end}}"
    options:
      display_default: true

  - type: kubectl
    style: plain
    tips:
      - kubectl
      - helm
      - kubectx
      - kubens
    foreground: "#326CE5"
    template: " 󱃾 {{.Context}}{{if .Namespace}} :: {{.Namespace}}{{end}} "
    options:
      context_aliases:
        __firstory_prod_arn__: firstory-production
        __firstory_staging_arn__: firstory-staging
